/* Layout */

* {
  box-sizing: border-box;
  color: #111;
}

body {
  width: 200px;
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
}

.body-container {
  margin: 10px;
}

input,
button {
  font-size: 1rem;
  margin-block: 10px;
  display: block;
  padding: 5px 10px;
  word-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
}

svg {
  width: 1em;
  height: 1em;
}

/* Colors */

input,
button {
  background-color: #ddd;
}

button:hover {
  cursor: pointer;
  background-color: #bbb;
}

button:active {
  background-color: white;
}

input:focus,
button:focus {
  outline: 2px solid rgb(0, 0, 0);
}

/* Darkmode Automatic */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: white;
  }
  label {
    color: white;
  }
  input {
    background-color: #666;
    color: white;
  }
  input::placeholder {
    color: #ccc;
  }
  button {
    background-color: #666;
  }
  input:focus,
  button:focus {
    outline: 2px solid rgb(255, 255, 255);
  }
  button > * {
    color: white;
  }
  button > svg {
    fill: white;
    stroke: white;
  }
}
